img {
    display: block;
    width: 300px;
    margin: 0 auto;
    margin-top: 175px;
}

div form{
    display: block;
    text-align: center;
}

input[type='text'] {
    width: 500px;
    padding: 15px;
    border: 1px solid darkgray;
    border-radius: 25px;
}

input[type='text']:hover {
    border: 1px solid lightgray;
}


input[type='submit'] {
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
    border: 0;
}